
 
<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group"></div>
  <%= f.input :image %>
  <div class="form-group text-center"></div>
  <%= f.input :caption %>
  <div class="form-group text-center"></div>
  <%= f.button :submit, class: 'btn-success' %>
  <% end %>

</div>

